.gradle/
build/
bin/
out/
.idea/
.junie/
*.class
*.log
*.lock
.DS_Store
property*/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.venv/

# claude
.claude/settings.local.json
.claude/pr-draft.md
